<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <title>Some kind of chat</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
    <script>
        window.ioport = 8080; 
    </script>
    <script src="/clientscripts/main.js"></script>
</head>
<body>
    <div id="messages" style="width: 300px; min-height: 100px;"></div>
    <textarea id="outbox" style="width: 300px; height: 100px;"></textarea>
</body>
</html>
